@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.header {
    background-color: rgb(49, 84, 148);
    background-size: 1920px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 280px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    background-position: center;
}

@media screen and (max-width: 1000px) {
    #logo {
        height: 230px;
        content: url('../Img/Busan\ is\ good.png');
    }
}

@media screen and (max-width: 600px) {
    #logo {
        height: 180px;
        content: url('../Img/logo1-1.png');
    }
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(246, 246, 246);
}

#main {
    max-width: 1200px;
    width: 100%;
}

#main2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1200px;
    width: 100%;
}

#tag_page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    height: 150px;
    
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #004098;
}

a:hover {
    text-decoration: underline;
    color: #E4007F;
}

.box {
    margin-top: 100px;
    margin-bottom: 100px;
    
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.box2 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

.list {
    margin-left: 30px;
    width: 500px;
}

.box.show {
    opacity: 1;
    transform: translateY(0);
}


.title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
}

.sub_title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 6px;
}

.inform {
    line-height : 1.7;
}

.circle_box {
    display: flex;
    justify-content: space-around;
}

.circle_img {
    min-height: 150px;
    max-height: 300px;
    margin-right: 10px;

    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

#Bugi_box {
    display: flex;
}

#Bugi {
    width: 40%;
    height: auto;
    margin-right: 30px;
    border-radius: 10px;
    object-fit: cover;
}

#Bugi_inform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(194, 196, 204);
    color: rgb(80, 79, 86);
}

.footer_in {
    margin-left: 100px;
    font-size: 12px;
    line-height : 1.8;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.box-button {
    color: white;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;

    padding: 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;

    max-width: 500px;
    height: 400px;
    opacity: 0.8;
    transition: background-color 0.3s;
    background-size: 500px auto;
    flex: 1 1 calc(50% - 40px);
    cursor: pointer;
}

.box-button:hover {
    transform: scale(1.05);
    opacity: 1;
}

#buten1 {
    background-image: url(../Img/수변최고돼지국밥.jpeg);
}

#buten2 {
    background-image: url(../Img/초량밀면.jpg);
}

#buten3 {
    background-image: url(../Img/바로바로횟집.jpg);
}

#buten4 {
    background-image: url(../Img/사또분식.jpg);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #004098;
    border-color: #004098;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;
    font-size: 20px;
}

#scrollToTopBtn:hover {
    opacity: 1;
}